html {
    --bg: #fff;
    --txt: #222;
    --link: #222;
    --link-hover: #666;

    &.mode-dark {
        --bg: #222;
        --txt: #ddd;
        --link: #fff;
        --link-hover: #666;
    }

    .btn-primary {
        --bs-btn-bg: #666;
        --bs-btn-border-color: transparent;
        --bs-btn-hover-bg: #222;
        --bs-btn-hover-border-color: transparent;
    }

    .btn-link {
        --bs-link-color: var(--link);
        --bs-btn-hover-color: var(--link-hover);
    }

    .btn-outline-secondary {
        --bs-btn-color: var(--link);
        --bs-btn-hover-color: var(--link-hover);
        --bs-btn-border-color: var(--link);
        background-color: transparent !important;
    }
}

#logo {
	letter-spacing: -0.1rem;
	font-size: 2.2rem;
}

body {
    background-color: var(--bg);
    color: var(--txt);
}

a {
    text-decoration: none;
    color: var(--link);
}
p {
	line-height: 1.7;
}

h1 {
    letter-spacing: -0.1rem;
}

#list-posts {
    .list-item {
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}

#post-page {
	font-size: 1.2rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: -0.04rem;
        margin-top: 2em;
        margin-bottom: 0.8em;
        font-weight: bold;
        color: var(--txt);
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.3rem;
    }

	img {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 1rem auto;
		border-radius: 5px;
	}
	figure {
		img {
			margin-bottom: 0;
		}
		figcaption {
			display: block;
			text-align: center;
			font-size: 0.9rem;
			opacity: 0.5;
			margin-top: 0.3rem;;
			margin-bottom: 1rem;;
			&::before {
				content: '< ';
			}
			&::after {
				content: ' >';
			}
		}
	}
}

.fs-sm {
    font-size: 0.85rem;
}

.fs-xs {
    font-size: 0.75rem;
}

body {
    font-family: 'SUIT Variable';
    max-width: 800px !important;
}

.fs-2x {
    font-size: 2.3rem;
}

.fs-3x {
    font-size: 3.5rem;
}

.bottom-link {
    border-top: 1px solid #ddd;

    >* {
        padding: 0.2rem 0;
    }

    >a {
        text-decoration: underline !important;
    }
}


/* syntax highlight */
div.highlight {
	margin-bottom: 1rem;
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight > .highlight {
	padding: 1rem;
}
.highlight * {
	font-size: 0.85rem;
	line-height: 1.5rem;
}
.highlight, .highlight pre {
	margin-bottom: 0;
}
.highlight, .highlight .w {
  color: #c9d1d9;
  background-color: #161b22;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #ff7b72;
}
.highlight .gr {
  color: #f0f6fc;
}
.highlight .gd {
  color: #ffdcd7;
  background-color: #67060c;
}
.highlight .nb {
  color: #ffa657;
}
.highlight .nc {
  color: #ffa657;
}
.highlight .no {
  color: #ffa657;
}
.highlight .nn {
  color: #ffa657;
}
.highlight .sr {
  color: #7ee787;
}
.highlight .na {
  color: #7ee787;
}
.highlight .nt {
  color: #7ee787;
}
.highlight .gi {
  color: #aff5b4;
  background-color: #033a16;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .kc {
  color: #79c0ff;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #79c0ff;
}
.highlight .sb {
  color: #79c0ff;
}
.highlight .bp {
  color: #79c0ff;
}
.highlight .ne {
  color: #79c0ff;
}
.highlight .nl {
  color: #79c0ff;
}
.highlight .py {
  color: #79c0ff;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #79c0ff;
}
.highlight .o, .highlight .ow {
  color: #79c0ff;
}
.highlight .gh {
  color: #1f6feb;
  font-weight: bold;
}
.highlight .gu {
  color: #1f6feb;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #a5d6ff;
}
.highlight .nd {
  color: #d2a8ff;
}
.highlight .nf, .highlight .fm {
  color: #d2a8ff;
}
.highlight .err {
  color: #f0f6fc;
  background-color: #8e1519;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #8b949e;
}
.highlight .gl {
  color: #8b949e;
}
.highlight .gt {
  color: #8b949e;
}
.highlight .ni {
  color: #c9d1d9;
}
.highlight .si {
  color: #c9d1d9;
}
.highlight .ge {
  color: #c9d1d9;
  font-style: italic;
}
.highlight .gs {
  color: #c9d1d9;
  font-weight: bold;
}