:root {
    .btn-primary {
        --bs-btn-bg: #666;
        --bs-btn-border-color: transparent;
        --bs-btn-hover-bg: #222;
        --bs-btn-hover-border-color: transparent;
    }

    .btn-link {
        --bs-link-color: #666;
        --bs-btn-hover-color: #222;
    }
}

a {
    text-decoration: none;
    color: #222;
}

h1 {
    letter-spacing: -0.08rem;
}

#list-posts {
    .list-item {
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}

.fs-sm {
    font-size: 0.85rem;
}

.fs-xs {
    font-size: 0.75rem;
}

body {
    font-family: 'SUIT Variable';
    max-width: 800px !important;
}

.fs-2x {
    font-size: calc(1.375rem + 2vw);
}

.fs-3x {
    font-size: calc(1.375rem + 3vw);
}

.bottom-link {
    border-top: 1px solid #ddd;

    >* {
        padding: 0.2rem 0;
    }

    >a {
        text-decoration: underline !important;
    }
}