a {
    text-decoration: none;
    color: #222;
}

h1 {
    letter-spacing: -0.08rem;
}

.fs-sm {
    font-size: 0.85rem;
}

.fs-xs {
    font-size: 0.75rem;
}

body {
    font-family: 'SUIT Variable';
    max-width: 800px !important;
}

.fs-2x {
    font-size: calc(1.375rem + 2vw);
}

.fs-3x {
    font-size: calc(1.375rem + 3vw);
}

.bottom-link {
    border-top: 1px solid #ddd;

    >* {
        padding: 0.2rem 0;
    }

    >a {
        text-decoration: underline !important;
    }
}