<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/loader.css' | relative_url }}">
</head>

<body>
    <h1><a href="{{site.baseurl}}/">MyBlog</a></h1>

    <div class="tag-list">
        {% assign tags = site.tags | sort %}
        {% for tag in tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag[0] }}" class="tag">{{ tag[0] }} ({{ tag[1].size }})</a>
        {% endfor %}
    </div>

    <div>
        {{ content }}
    </div>

    {% if page.path contains '_posts' %}
    <div class="post-navigation">
        {% if page.previous %}
        <div class="prev">
            <a href="{{site.baseurl}}{{ page.previous.url }}">&larr; 이전글: {{ page.previous.title }}</a>
        </div>
        {% endif %}
        {% if page.next %}
        <div class="next">
            <a href="{{site.baseurl}}{{ page.next.url }}">다음글: {{ page.next.title }} &rarr;</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</body>

</html>