---
layout: default
---


<div id="post-page">
    <div class="page-header mb-4">
        <h1 class="fs-2x mt-0">{{page.title}}</h1>
        <div class="post-meta opacity-50 fs-xs mt-1">{{ post.date | date: "%B %d, %Y" }}</div>
    </div>

    <div class="contents">
        {{ content }}
    </div>
</div>

{% if page.path contains '_posts' %}
<div class="bottom-link mt-5 pt-5">
    {% if page.next %}
    <a class="d-block" href="{{site.baseurl}}{{ page.next.url }}">다음글: {{ page.next.title }}</a>
    {% endif %}
    <div class="opacity-50">
        현재글 : {{ page.title}}
    </div>
    {% if page.previous %}
    <a class="d-block" href="{{site.baseurl}}{{ page.previous.url }}">이전글: {{ page.previous.title }}</a>
    {% endif %}
</div>
{% endif %}