---
layout: default
---


<div id="post-page">
    <div class="page-header mb-4">
        <h1 class="fs-2x mt-0">{{page.title}}</h1>
        <div class="post-meta opacity-50 fs-xs mt-1">{{ post.date | date: "%B %d, %Y" }}</div>
    </div>

    <div class="contents">
        {{ content }}
    </div>

	<hr class="pb-4 mt-5" />

	<div id="comments"></div>
</div>

{% if page.path contains '_posts' %}
<div class="bottom-link mt-5 pt-5">
    {% if page.next %}
    <a class="d-block" href="{{site.baseurl}}{{ page.next.url }}">다음글: {{ page.next.title }}</a>
    {% endif %}
    <div class="opacity-50">
        현재글 : {{ page.title}}
    </div>
    {% if page.previous %}
    <a class="d-block" href="{{site.baseurl}}{{ page.previous.url }}">이전글: {{ page.previous.title }}</a>
    {% endif %}
</div>
{% endif %}


<script>
	window.changeUtterancesTheme = (theme) => {
		const iframe = document.querySelector('iframe.utterances-frame');
		if (iframe) {
			iframe.contentWindow.postMessage({
				type: 'set-theme',
				theme: theme
			}, 'https://utteranc.es');
		}
	}

	(() => {
		// 댓글 로드
		function loadComments(theme) {
			const script = document.createElement('script');
			script.src = 'https://utteranc.es/client.js';
			script.setAttribute('repo', 'zidell/blog');
			script.setAttribute('issue-term', 'pathname'); // 이 부분 확인
			script.setAttribute('theme', theme);
			script.setAttribute('crossorigin', 'anonymous');
			script.async = true;
		
			const commentsDiv = document.getElementById('comments');
			commentsDiv.innerHTML = ''; // 기존 스크립트를 제거
			commentsDiv.appendChild(script);
		}
		  const theme = `github-${localStorage.theme}`;
		  loadComments(theme);

		  // 이미지 캡션 활성화
		  const images = document.querySelectorAll('img');
		  images.forEach(img => {
			if (img.alt && !img.closest('figure')) {
				const figure = document.createElement('figure');
				const figcaption = document.createElement('figcaption');
				figcaption.textContent = img.alt;
				
				const clonedImg = img.cloneNode(true);
				figure.appendChild(clonedImg);
				figure.appendChild(figcaption);
				
				img.parentNode.replaceChild(figure, img);
			}
		  });
	})();
</script>

